<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Daniel McGraw" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1><a href="/">Daniel McGraw</a></h1>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
</html>
